:root {
    height: 100%;
    --color-bg: #252627;
    --color-surface: #564e58;
    --color-text: #f2efe9;
    --color-accent: #904e55;
    --color-accent-secondary: #bfb48f;
}

body {
    background-color: var(--color-bg);
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
