.lobby-root {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
    max-width: 600px;
    padding: 60px;
    color: var(--color-text);
    background-color: var(--color-surface);
    border-radius: 8px;
}

.copy-label {
    font-size: 16px;
}

.room-code {
    background: var(--color-accent-secondary);
    padding: 24px;
    margin-bottom: 24px;
    border-radius: 8px;
}

.button-copy-code {
    color: var(--color-bg);
    background-color: transparent;
    padding: 8px 16px;
    font-size: 14px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.room-members {
    display: flex;
    flex-direction: row;
    gap: 24px;
    padding: 16px 0 8px 0;
}

.member {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.member-avatar {
    box-sizing: border-box;
    height: 70px;
    width: 70px;
    border-radius: 8px;
    border-bottom: 8px solid transparent;
}

.button-ready {
    color: var(--color-text);
    background: var(--color-accent);
    padding: 16px 32px;
    font-size: 14px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.button-ready:disabled {
    opacity: 0.4;
    cursor: not-allowed;
}

.button-ready:hover:not(:disabled) {
    filter: brightness(1.1);
}
