.player-hand-root {
    height: 280px;
    width: 60%;
    background-color: var(--color-surface);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4px;
    border-radius: 8px;
}
